@charset "ISO-8859-1";

.rowLogin{
	text-align:center;
	padding-bottom: 5rem;
	padding-top: 5rem;
	
}

.lsd{text-align: center;}

#logo{
	width: 59%;
}

#logoL{
	width: 20%;	
}
.dataInput{
	width: 28%;
}
.center {
	text-align: center;	
}
.spazioSu{
	margin-top: 2em;
}

.topText {
	font-weight: bold;
	margin-left: 3px;
}
.nav-link{
	font-size:1.3em;
	font-weight: bold;
}